body{
    background-color: #FF1493;

    color: #fff;
}
.main{
    width: 90%;
    background-color: darkmagenta;
    border-radius: 10px;
    margin: auto;
    padding: 10px;

}
.main h3, .pmain{
    text-align: center;  
}

.main img{
    width: 150px;
    margin: auto;
    display: flex;
    transition: .3s all;
    margin-top: 30px;
}


.main img:hover{
    width: 300px;
}

.main button{
    margin-top: 20px;
}

.main small{
    font-size: 8px;
}
